export(make.web.call)
export(a)
export(arg.spec)
export(format.content.type)
export(Policy.rate.limit)
export(check)
S3method(check, Policy)
S3method(check, Policy.rate.limit)
export(enforce)
S3method(enforce, Policy)
S3method(enforce, Policy.rate.limit)
S3method(update, Policy)
S3method(update, Policy.rate.limit)
import(httr)
import(jsonlite)
import(purrr)